{% block form %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.profileImage) }}
        <div class="cp-body__button-container">
            <button class="mdc-button">{{ 'main.button_reset'|trans }}</button>
            <button class="mdc-button mdc-button--raised">{{ 'registration.button_submit'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
