{% block form_row %}
    <div class="mdc-text-field">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>
    {{ form_help(form) }}
{% endblock %}

{%- block form_errors -%}
    {% for error in errors %}
        <p id="{{ form.vars['id'] }}-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" aria-hidden="true">
            {{ error.message }}
        </p>
    {% endfor %}
{%- endblock -%}

{% block form_help %}
    <p id="{{ id }}-helper-text" class="mdc-text-field-helper-text" aria-hidden="true">
        {{- help -}}
    </p>
{% endblock %}
